name: Coverage Test
run-name: PHPUnit Coverage Testing

on:
  push:
    paths-ignore:
      - .env
      - Makefile
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    name: Build & Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout Application
        uses: actions/checkout@v3
        with:
          repository: sergiy-decima/magento-sample-project
          token: ${{ secrets.REPO_GITHUB_TOKEN }}

      - name: Git Checkout Module
        uses: actions/checkout@v3
        with:
          path: extensions/current

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: phpunit-bridge
          extensions: mbstring, xml, ctype, iconv, json, mcrypt, zip, simplexml, bcmath, intl, dom
          coverage: xdebug

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Create Composer Cache
        id: cache-composer
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer Dependencies
        env:
          AUTH_JSON: ${{ secrets.AUTH_JSON }}
        run: |
          echo "$AUTH_JSON" > auth.json
          composer install --no-progress --no-interaction --prefer-dist --optimize-autoloader

      - name: Composer Require Module
        run: composer require sergiy-decima/magento-the-best-module --ansi --no-interaction

      - name: Build Magento
        run: |
          ./bin/magento module:enable --all
          ./bin/magento setup:di:compile

      - name: Run PHPUnit Tests
        run: vendor/bin/phpunit -c phpunit.xml.dist extensions/current --coverage-html=extensions/current/output/html --coverage-clover=extensions/current/output/clover-coverage.xml

      - name: Upload Coverage XML
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: coverage.xml.zip
          path: extensions/current/output/clover-coverage.xml

      - name: Upload Coverage HTML
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: coverage.html.zip
          path: extensions/current/output/html

  coverage:
    needs: build
    name: Check Coverage Summary
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact from "build" Job
        uses: actions/download-artifact@v3
        with:
          name: coverage.xml.zip

      - name: Coverage Summary Report
        id: clover_coverage
        uses: sergiy-decima/clover-coverage-action@1.0.0
        with:
          filename: clover-coverage.xml
          thresholds: '60-80'
          fail_if_low: false
